* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*suavizando as fonts*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.flex {
  display: flex;
}

#page {
  height: 100vh;
  background-color: #f7f4f4;
}

#page > * {
  width: 50%;
}

img {
  width: 100%;
  object-fit: cover;
}

header img {
  height: 3.375rem;
  width: 9.93rem;
}

#page > div {
  padding: 2rem 7rem 13rem;
}

main {
  padding-top: 3.5rem;
}



#headline > h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

#headline > p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #475569;
  font-weight: 400;
}

label {
  font-size: 0.875rem;
  font-weight: 600;
}

input::placeholder {
  font-size: 0.875rem;
  color: #94A3B8;
  line-height: 1.312rem;
}

form {
  margin-top: 2.5rem;
  max-width: 21.93rem;
}

form button {
  border-style: none;
  background: #7C3AED;
  border-radius: 4px;
  color: #ffffff;
  padding: 1rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 2rem;
}

form button:hover {
  background-color: #9F67FF;
  cursor: pointer;
}

form button:focus {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #7C3AED;
  font-weight: 600;
  font-size: 0.875rem;
}

.account{
  font-size: 1rem;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
  color: #7C3AED;
}

form input { 
  width: 100%;
  padding: 1rem 0.75rem;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  margin-top: 0.5rem;
  outline: 0
}

form input:hover, 
form input:focus {
  border-color: #7C3AED;
}

form .input-wrapper + .input-wrapper{
  margin: 2rem 0;
}

.input-wrapper {
  position: relative;
}

.eye {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 54%;
  right: 2%;
  cursor: pointer;
}

.hide {
  display: none;
}

/*remove o olho de senha do microsoft edge*/
::-ms-reveal {
  display: none;
}

.label-wrapper, .creat-account {
  justify-content: space-between;
}

/*Breakpoints*/
@media(max-width: 1000px) {

  #page > * {
    width: 100%;
  }

  #page > div {
    padding: 2.5rem 5rem;
  }

  #page > img {
    display: none;
  }
}

@media(max-width: 500px) {
  #page > div {
    padding: 2.5rem 3rem;
  }
  main {
    padding-top: 1.8rem;
  }
}



